<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<img src="~/NH.jpg" style="width:135px;height:135px" title="只能用于NH连接"/>
<br/>
<h1>NH</h1>
<br/>
<img src="~/XG.jpg" style="width:135px;height:135px" title="只能用于XG连接"/>
<br/>
<h1>XG</h1>
<br/>
<p>本程序专门提供给各部门提交程序BUG及电脑维护工单使用</p>
<p>请使用本程序的人员注册后使用</p>
