
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>新港:</strong><br />
    <abbr title="Phone">3396</abbr><br />
    <abbr title="Phone">3319</abbr><br />
    <br />
    <strong>南华:</strong><br />
    <abbr title="Phone">874</abbr>
    
</address>

<address>
    <strong>Support:684911</strong>   <a href="mailto:te.tan@xgshenzhen.com">TAndy</a><br />
</address>